@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #F5F5DC;
    width: 99.5vw;
    height: 100%;
}

.title {
    text-align: center;
    margin: 20px;
    margin-top: 3%;
    color: white;
    font-weight: 0;
    font-family: "Bebas Neue", sans-serif;
}

.add {
    position: absolute;
    top: 10%;
    left: 3%;
}

.btn {
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.galeria {
    display: flex;
    justify-content: space-between;
    width: 60%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
    background-color: rgb(162, 162, 162);
    padding: 40px;
    margin: 0 auto;
    margin-top: 5%;
}

.imagem {
    width: 50%;
    padding: 20px;
    background-color: azure;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}


.homeCardapio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C6933;
    border-radius: 8px;
    width: 80%;
    padding: 10px 0px 10px 0px;
    height: 90%;

}

#imgCCC {
    width: 100%;
    margin-top: 1%;
    border-radius: 8px;
}

.divIMGGGG {
    width: 90%;
}

.total {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}


.luigiComeBuceta {
    background-color: #0C6933;
    width: 40%;
    height: 350px;
    border-radius: 8px;
    display: flex;
    padding-top: 2%;
    margin: 0 auto;
    flex-direction: column;
}

.danadas {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.carrossel {
    position: relative;
    width: 700px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    background-color: #27AE60;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 3%;
}

.fundinho {
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4, 173px);
    grid-template-rows: repeat(6, 50px);
}

.boxinha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transform: scale(0.8);
    border-radius: 8px;
}

.boxxduo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.7);
}


.duvido {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.9);
}

#radio {
    width: 35px;
    height: 35px;
}



/* ESTILO ESCOLHA REFEICOES */

#divDIAS {
    background-color: #d9d9d9;
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
}

#divDentro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
}

.divOOO {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-between;

}

.corsinha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
}