<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagens</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
    <h1 class="title">Imagens Armazenadas</h1>
   
    <form action="/teste" class="add">
        <button type="submit" class="btn">+</button>
    </form>

    <div class="galeria">
        {% for imagem_base64, data_inicial, data_final in imagens %}
            <div class="imagem">
                <img src="data:image/jpeg;base64,{{ imagem_base64 }}" alt="Imagem" style="max-width: 300px; max-height: 300px;border-radius: 10px;">
                <p>Data Inicial: {{ data_inicial }}</p>
                <p>Data Final: {{ data_final }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>